body {
  margin: 0;
  padding: 0;
  background-color: #060f29;
  font-family: "Roboto", sans-serif;
  color: #9aa2b8;
}

h1,
h2 {
  color: #9aa2b8;
  margin: 2% auto 50px auto;
  text-align: center;
}

p {
  text-align: center;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 300px;
  border: 1px solid #9aa2b8;
}

.box {
  font-size: 50px;
  display: flex;
  border: 1px solid #9aa2b8;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reset-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;
  font-size: 16px;
  cursor: pointer;
}

.button-container {
  margin: 30px;
  text-align: center;
}
